<div class="container">

    <div>
        {{#each userPost as |post|}}

        <div class="blogPostUser">
            <h3>{{post.content}}</h3><br>
            <h3>-{{post.user_id}}</h3>
        </div>

        {{/each}}
    </div>

    <div class="addPostBtn">
        <a id="addPost" href="">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Create New Post
        </a>
    </div>

</div>