<div class="container">
  <div class="forms">
    <div class="col-md-6">
      <h2 id="login-header">Login</h2>

      <form class="form login-form">
        <div class="form-group">
          <h3>Username</h3>
          <input class="form-input" type="text" id="username-login" />
        </div>
        <div class="form-group">
          <h3>Password</h3>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary login-btn" type="submit">Login!</button>
          <button class="btn btn-primary signup-btn" type="click">Sign Up Here!</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>