/* universal selectors */
:root {
    --brown: #231010;
    --green: #D9EAD3;
    --grey: #A7A7A7;
    --white: #FFFFFF;
    --darkgrey: #898989;
}

/* element selectors */
body{
    background-color: var(--green);
    width: 100%;
    height:100vh;
    padding: 0;
    margin: 0;
}

header{
    margin: 0;
    padding: 1.7rem;
}

nav {
    margin-bottom: 1rem;
}

header nav a {
    text-decoration: none;
    padding-bottom: .2rem;
    padding-right: .2rem;
    margin-right: 5rem;
    color: var(--green);
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

/* id selectors */
#header-title {
    box-shadow: 5px 5px var(--grey);
    border-radius: .45rem;
    background-color: var(--green);
    color: var(--brown);
    width: 18rem;
    font-size: 2.6rem;
    font-weight: bold;
}

#header {
    background-color: var(--brown);
    color: var(--green);
}

#login-header {
    background-color: var(--brown);
    padding-bottom: 1rem;
    text-align: left;
    color: var(--green);
}

#signup-header {
    background-color: var(--brown);
    text-align: left;
    color: var(--green);
    padding-bottom: 1rem;
    margin-bottom: .2rem;
}

/* class selectors */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fullView {
    height: 100%;
}

.forms {
    width: 80rem;
    margin-top: 6rem;
    font-size: 1.85rem;
    border: .5rem solid var(--brown);
}

.form-group {
    padding: 1.2rem;
}

.form-input {
    width: 100%;
    height: 1.9rem;
}

.btn {
    width: 100%;
    height: 2.3rem;
    border-radius: .3rem;
    border: none;
    background-color: var(--grey);
    color: var(--white);
    font-size: 1.3rem;
}

.login-btn {
    margin-bottom: .75rem;
}

.back-to-login-btn {
    margin-top: .75rem;
}

.btn:hover{
    background-color: var(--darkgrey);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    width: 100%;
    font-size: 2.1rem;
}

.blogPost {
    margin: 1rem;
    border: 6px solid var(--brown);
    color: var(--brown);
    width: 90rem;
    font-size: 1.5rem;
    height: 100%;
}

.Comment h1 {
    color: var(--brown);
}

.Comment h3 {
    padding: 1.5rem !important;
}

.addCommentBox {
    margin: 1rem;
    border: 6px solid var(--brown);
    color: var(--brown);
    width: 90rem;
    font-size: 1.5rem;
    height: 100%;
}

.addCommentBox h2 {
    padding-top: 1rem;
    padding-left: 1rem;
}

.addCommentBox h1 {
    height: 4rem;
    background-color: var(--brown);
    color: var(--brown);
}

.addCommentBox form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
}

.addCommentBox form input {
    margin-right: 1rem;
    width: 97%;
    height: 5rem;
    border-radius: .4rem;
    border: 1px solid black;
}

.addCommentBox a {
    margin-top: 1rem;
    width: 97%;
    padding: .4rem;
    border-radius: .5rem;
    background-color: var(--darkgrey);
    text-align: center;
    color: whitesmoke;
}

.blogPost header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brown);
    color: var(--green);
    padding: 1rem;
}

.blogPost header h2 {
    font-size: 2rem;
    font-weight: bold;
}

.blogPost header p {
    font-size: 1.2rem;
}

.blogPost h3 {
    padding: 1rem;
}