/* universal selectors */
:root {
    --brown: #231010;
    --green: #D9EAD3;
    --grey: #A7A7A7;
}

/* element selectors */
main{
    background-color: var(--green);
    width: 100%;
    height:100vh;
    padding: 0;
    margin: 0;
}

footer{
    margin: 0;
    padding: 0;
    background-color: var(--green);
}

header{
    margin: 0;
    padding: 1.7rem;
}

nav {
    margin-bottom: 1rem;
}

header nav a {
    text-decoration: none;
    padding-bottom: .2rem;
    padding-right: .2rem;
    margin-right: 5rem;
    color: var(--green);
    font-size: 1.5rem;
}

/* id selectors */
#header-title {
    box-shadow: 5px 5px var(--grey);
    border-radius: .45rem;
    background-color: var(--green);
    color: var(--brown);
    width: 18rem;
    font-size: 2.6rem;
    font-weight: bold;
}

#header {
    background-color: var(--brown);
    color: var(--green);
}

#login-header {
    background-color: var(--brown);
    text-align: left;
    color: var(--green);
}

#signup-header {
    background-color: var(--brown);
    text-align: left;
    color: var(--green);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms {
    margin-top: 6rem;
    font-size: 1.5rem;
    border: .5rem solid var(--brown);
}

.form-group {
    padding: .5rem;
}

.signup-btn {
    margin-left: 5rem;
}

.login-btn {
    margin-left: 3rem;
}